@use '../partials/variables' as *;

main {
    .jumbotron {
        background-image: url(/src/assets/img/jumbotron.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 20rem;
    }

    .comics {
        background-color: $darker;
        color: $light;
        display: flex;

        .badge_current_comics {
            position: relative;

            button {
                color: $light;
                background-color: $dc_color;
                font-size: 1.2rem;
                position: absolute;
                padding: 0.5rem 1rem;
                top: -1rem;
                left: 0;
            }
        }

        .card {
            background-color: $darker;

            .card-img-top {
                img {
                    height: 12rem;
                }
            }

            h4 {
                font-size: 0.8rem;
            }
        }

        .badge_load_more {
            button {
                color: $light;
                background-color: $dc_color;
                font-size: 0.8rem;
                padding: 0.5rem 1rem;
            }
        }
    }

    .banner {
        background-color: $dc_color;

        img {
            width: 2rem;
            object-fit: contain;
        }

        h3 {
            color: $light;
            font-size: 0.75rem;
        }
    }
}